# Ignore everything in models/ except model.pth
models/*
!models/model.pth

# Ignore everything in results/ except results.csv
results/*
!results/results.csv

# Ignore the entire data directory
data/

# Ignore Python cache files
__pycache__/
